.mainlogin{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191b22;
    z-index: 100;
    display: flex;
	justify-content: center;
	align-items: center;
     --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}
.loginbox{
	width: 350px;
	height: 500px;
	background: var(--blue);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

@media screen and (max-width: 600px) {
    .loginbox {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

#chk{
	display: none;
}
.login{
	position: relative;
	width:100%;
	height: 100%;
}
.mainlogin label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.mainlogin input{
	width: 60%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.mainlogin button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--green);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    opacity: 1;
}
.mainlogin button:hover{
    opacity: .8;
}
.signup{
	height: 660px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.signup label{
	color: var(--blue);
	transform: scale(.6);
}

#chk:checked ~ .signup{
	transform: translateY(-500px);
}

@media screen and (max-width: 600px) {
    #chk:checked ~ .signup {
        transform: translateY(-92%);
    }
}

#chk:checked ~ .signup label{
	transform: scale(1);	
}
#chk:checked ~ .login label{
	transform: scale(.6);
}